<!DOCTYPE html>

<html>
  <head>
    <%= display_meta_tags %>

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="<%= site_name %>">
    <meta name="mobile-web-app-capable" content="yes">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="icon" href="<%= asset_path('icon.png') %>" type="image/png">
    <link rel="icon" href="<%= asset_path('icon.svg') %>" type="image/svg+xml">
    <link rel="apple-touch-icon" href="<%= asset_path('icon.png') %>">

    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body
    class="
      min-h-screen flex items-center justify-center bg-gradient-to-br
      from-base-200 via-base-100 to-base-200
    "
  >
    <div class="w-full max-w-md px-4"><%= yield %></div>
  </body>
</html>
