<!DOCTYPE html>

<html>
  <head>
    <%= display_meta_tags %>

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="<%= site_name %>">
    <meta name="mobile-web-app-capable" content="yes">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%# = tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body data-controller="theme">
    <%= render "shared/navbar" %>

    <!-- Spacer for fixed navbar -->
    <% if content_for?(:nav_no_spacing) %>
      <%# Do nothing %>
    <% else %>
      <div class="h-24"></div>
    <% end %>

    <%= yield %>
  </body>
</html>
