<!DOCTYPE html>

<html>
  <head>
    <title><%= content_for(:title) || "Tanmer Egg" %></title>

    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Tanmer Egg">
    <meta name="mobile-web-app-capable" content="yes">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body
    class="
      min-h-screen flex items-center justify-center bg-gradient-to-br
      from-base-200 via-base-100 to-base-200
    "
  >
    <div class="w-full max-w-md px-4"><%= yield %></div>
  </body>
</html>
